@CHARSET "ISO-8859-1";

body{width: 100%; height: 100%; overflow: auto;}

div.body,
form.body{margin-top: 48px;}
p{margin-bottom: 10px; display: inline-block;}

table{border-collapse: collapse;}
table.border,
table.border td,
table.border tr,
table.border th{border: 1px solid gray;}

.border{border: 1px solid gray;}
.w-100{width: 100%;}
.inline{display: inline-block;}
.block{display: block;}
.f-14{font-size: 14px;}
.f-16{font-size: 16px;}
.head{font-weight: bold; font-size: 14px;}
.pull-right{float: right;}
.msg{color: #3F51B5; font-weight: bold;}
.success{font-size: 11px; font-weight: bold; color: #4CAF50;}
.warning{font-size: 11px; font-weight: bold; color: #FF9800;}
.danger{font-weight: bold; color: #DE3226}
.blue-text{color: #3F51B5}
.blue-text.hilight{background: rgba(63, 81, 181, 0.14); padding: 2px;}

a.active{background: #3F51B5; color: white; font-weight: bold;}

.form-form label{margin: 10px; display: block;}
.form-form *{margin-left: 20px;}
.form-form textarea{width: 500px; height: 200px;}

/* --- header --- */
header{width: 100%; border: 1px solid #3F51B5; height: 35px; top: 0; position: fixed; background: #3F51B5;
	z-index: 100;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);}
header .navbar-brand{margin: 8px 32px; position: fixed; font-size: 21px; text-decoration: none; color: white;}

pre { display: inline-block; padding: 2px 5px; margin: 0px 3px 16px; color: #333;
    word-break: break-all; word-wrap: break-word; background-color: #f5f5f5;}
pre.block{display: block;}

.question-text{display: inline-flex; width: 800px;}
.question-text > p,
.question-text > pre,
.question-text > strong,
.question-text > i {font-size: 16px;}
.question{margin-left: 10px; width: calc(100% - 20px); min-height: 0px; margin-bottom: 16px;
	    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}

.page-nav{margin-right: 20px;}
.page-nav *{display: inline-block;}
.page-nav a {text-decoration: none;}
.page-nav a:hover{text-decoration: underline;}
.page-nav ul > li{padding: 2px 7px;}
.page-nav ul {line-height: 1.5; margin: 0;}
.page-nav li.active a{color: white}
.page-nav li.active{border: 1px solid #3F51B5; background: #3F51B5;}

.attempt-summary-entry{padding-right: 10px; display: inline-block;}
.exam-header > .info{padding-left: 20px;}
.exam-header > .info > p{padding-right: 10px;}
.exam-finalize{float: right; color: white; font-size: 12px;     margin-right: 50px;}

img.question-image{display: block; height: 250px; width: auto; padding: 20px;}


/* Registeration from */
.text-gray{color: rgba(0,0,0, 0.26);}
#registerCandidate input.blue[type=date],
#registerCandidate select.blue{border: 0px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding: 2px;	width: 100%;}
#registerCandidate input.blue[type=date]:focus,
#registerCandidate select.blue:focus{outline: 0px; border-bottom: 2px solid rgb(63,81,181);}

#registerCandidate input.red[type=date],
#registerCandidate select.red{border: 0px; border-bottom: 1px solid rgb(222, 50, 38); padding: 2px;	width: 100%;}
#registerCandidate input.red[type=date]:focus,
#registerCandidate select.red:focus{outline: 0px; border-bottom: 2px solid rgb(222, 50, 38);}

#registerCandidate *{font-size: 14px;}
#registerCandidate h2{font-size: 18px;}
#registerCandidate input[type=submit]{margin-top: 10px;}
#registerCandidate{width: 450px; margin-bottom: 20px; margin-left: auto; margin-right: auto; padding: 25px;}

.mdl-cell{margin: -4px;}
.mdl-card__title{padding: 10px 2px;}


.instrictions{width: calc(100% - 10px); margin: auto;}

.finalize-test-btn{margin: auto; display: block; margin-top: 30px;}
form.finalize-test{margin-top: 150px;}
.finalized{display: block; margin: auto; margin-top: 250px; width: 100%;}
.test-completed{font-size: 54px; color: #3f51b5; font-weight: bold; text-align: center; width: 100%;}

