@CHARSET "ISO-8859-1";

html,body{font-family:"Roboto", "Helvetica","Arial",sans-serif;}
body{min-height: inherit;}

div.bg{background-image: url("/resources/image/logo.jpg");
	    background-repeat: no-repeat;
	        background-size: cover;
	        width: 100%; height: 100%; position: fixed;
	            opacity: 0.01;
	            z-index: 0; top: 0;}
.registration-page div.bg,
.finished div.bg,
.finishing div.bg{opacity: 0.05;}

.registration-page date,
.registration-page select,
.registration-page input,
.registration-page label{background: transparent;}
	            
.bg-transparent{background: transparent;}

div.body,
form.body{margin-top: 48px; z-index: 10;}
p{margin-bottom: 10px; display: inline-block;}

table{border-collapse: collapse;}
table.border,
table.border td,
table.border tr,
table.border th{border: 1px solid gray;}

@media (max-width: 1080px){
	.exam-header{width: calc(100% - 20px) !important;}
	.main-card{width: calc(100% - 20px) !important; }
}

.border{border: 1px solid gray;}
.w-100{width: 100%;}
.inline{display: inline-block;}
.block{display: block;}
.f-14{font-size: 14px;}
.f-16{font-size: 16px;}
.head{font-weight: bold; font-size: 14px;}
.pull-right{float: right;}
.msg{color: #FF9800;}
.success{font-size: 11px; font-weight: bold; color: #4CAF50;}
.warning{font-size: 11px; font-weight: bold; color: #FF9800;}
.danger{font-weight: bold; color: #DE3226}
.blue-text{color: #3F51B5}
.blue-text.hilight{background: rgba(63, 81, 181, 0.14); padding: 2px;}

a.active{background: #3F51B5; color: white; font-weight: bold;}

.form-form label{margin: 10px; display: block;}
.form-form *{margin-left: 20px;}
.form-form textarea{width: 500px; height: 200px;}

/* --- header --- */
header{width: 100%; height: 35px; top: 0; position: fixed; background: #3F51B5;
	z-index: 100;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);}
header .navbar-brand{margin: 8px 32px; position: fixed; font-size: 21px; text-decoration: none; color: white;}

pre { display: inline-block; padding: 2px 5px; margin: 0px 3px 16px; color: #333;
    word-break: break-all; word-wrap: break-word; background-color: #f5f5f5;}
pre.block{display: block;}

.question-text{display: inline-flex; width: 800px;}
.question-text > p,
.question-text > pre,
.question-text > strong,
.question-text > i {font-size: 16px;}
.question{width: calc(100% - 250px); margin-bottom: 16px;
		padding: 15px; background: transparent;
	    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.question-option{width: 600px;}

.page-nav{margin-top: 36px;}
.page-nav *{display: inline-block;}
.page-nav a {text-decoration: none; position: relative; padding: 2px 7px;}
.page-nav a:hover{text-decoration: underline;}
.page-nav ul {line-height: 1.5; margin: 0;}
.page-nav li.active a{color: white}
.page-nav li.active{border: 1px solid #3F51B5; background: #3F51B5;}

#timer-outer{left: calc(50% - 80px); position:absolute; color: rgba(255, 255, 255, 0.5); margin-top: 8px;}

.attempt-summary-entry{padding-right: 10px; display: inline-block;}
.exam-header{width: calc(100% - 250px); margin: auto;}
.exam-header > .info{padding-left: 20px;}
.exam-header > .info * {padding: 0; margin: 0;}
.exam-header > .info strong{margin-right: 10px;}
.exam-header > .info .blue-text.hilight{padding: 2px 10px;}
.exam-header > .info{min-height: 0; width: 460px; font-size: 14px; margin-bottom: 10px; padding: 12px;
		    padding: 8px 12px;
		box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.exam-finalize{float: right; color: white; font-size: 12px;     margin-right: 50px;}

img.question-image{display: block; height: 250px; width: auto; padding: 20px;}


/* Registration from */
.text-gray{color: rgba(0,0,0, 0.26);}
#registerCandidate input.blue[type=date],
#registerCandidate select.blue{border: 0px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding: 2px;	width: 100%;}
#registerCandidate input.blue[type=date]:focus,
#registerCandidate select.blue:focus{outline: 0px; border-bottom: 2px solid rgb(63,81,181); color: #333;}

#registerCandidate input.red[type=date],
#registerCandidate select.red{border: 0px; border-bottom: 1px solid rgb(222, 50, 38); padding: 2px;	width: 100%;}
#registerCandidate input.red[type=date]:focus,
#registerCandidate select.red:focus{outline: 0px; border-bottom: 2px solid rgb(222, 50, 38); color: #333;}

#registerCandidate *{font-size: 14px;}
#registerCandidate h2{font-size: 18px;}
#registerCandidate input[type=submit]{margin-top: 10px;}
#registerCandidate{width: 450px; margin-bottom: 20px; margin-left: auto; margin-right: auto; padding: 25px;}

.register-msg{margin: 14px 0px -20px 0px; color: #F44336;}

.mdl-cell{margin: -4px;}
.mdl-card__title{padding: 10px 2px;}

.main-card{width: calc(100% - 250px); min-height: 0px;}
.bottom-nav{display:block;}
.bottom-nav a{font-size: 11px;}

.instrictions{width: calc(100% - 10px); margin: auto;}

.finalize-test-btn{margin: auto; display: block;}
form.finalize-test{margin-top: 150px;}
.finalized{display: block; margin: auto; margin-top: 250px; width: 100%;}
.test-completed{font-size: 54px; color: #3f51b5; font-weight: bold; text-align: center; width: 100%;}

form.finalize-test pre{text-align: center;}

.feedback{z-index: 99; position: relative; display: block; margin: auto; width: 400px;}
.feedback  .mdl-textfield__label{color: rgba(0,0,0,.5);}
.feedback .mdl-textfield__input{border: 1px solid rgba(0,0,0,.12); height: 95px;}